* {
    box-sizing: border-box;
}

*:focus
{
    box-shadow: none !important;
    outline: none !important;

}

/* MAIN HEADER  */
.main-header {
    position: relative
}

/* logo */
.logo-img {
    width: 150px; 
    position: absolute;
    top: -25px;
}

.logo {
    display: flex;
    justify-content: center; 
}


/* navbar */
ul {
    justify-content: space-around;
    margin: 0 auto;
}

a {
    font-family: "Karla", sans-serif;
    font-weight: 700; 
    color: #000000 !important; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

a:hover {
    color: #686963 !important; 
}

#photos {
    margin-left: 40px;
    margin-right: 100px
}

#team {
    margin-right: 40px; 
    margin-left: 100px; 
}

/* header */
.hero-banner {
    width: 100%; 
}

 .header-text {
    position: absolute;
    left: 50%;
    top: 45%; 
    transform: translateX(-50%)
}

.header-text h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem; 
    position: relative;
    letter-spacing: 1px; 
}

.header-text .square {
    background: #FFFFFF;
    width: 100%; 
    height: 2rem; 
    position: absolute;
    bottom: 50%;  
}

/* MAIN BODY */
/* offer */
.offer {
    margin: 30px 0;
}

.offer h2, .about h2, .contact-form h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem; 
    margin-bottom: 20px; 
}

.offer h3, li, p {
    font-family: "Karla", sans-serif;
}

#offer-title {
    letter-spacing: 2px;
}

.offer h3, li {
    text-transform: uppercase; 
    font-size: 1rem;  
}

.offer h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.offer ul {
    list-style: none; 
    padding-left: 0;
}

.offer li {
    border-bottom: 1px solid #D7D7D7; 
    float: left; 
    width: 100%; 
    padding-top: 15px;
    padding-bottom: 10px; 
}

.offer-features {
    display: flex; 
    justify-content: flex-start; 
}

.offer-features .last-activity {
    border-bottom: none;
    margin-bottom: 20px;
}

.offer-row {
    position: relative;
}

.offer-description {
    z-index: 2; 
}

/* workspace */
.workspace {
    position: absolute;  
    width: 300px;
    bottom: -110px;
    right: 90px;
    z-index: 1;
}

.workspace h3, .contact-form h3 {
    font-family: "Karla", sans-serif;
    font-size: 0.75rem; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    position: absolute;
}

.workspace img {
    width: 100%; 
}

#workspace-title {
    top: -2rem;
}

.rounded-circle {
    width: 80px;
    height: 80px;
    background-color: transparet; 
    border: 6px solid #D7D7D7; 
} 

#rounded-circle-workspace {
    position: absolute;
    top: -40px; 
    left: -40px;
    z-index: -1;
}

/* about */
.about {
    padding-top: 30px;
    padding-bottom: 300px;
    background-color: #f0eeef;
    background-image: url("../images/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

/* FOOTER */
 /* contact-form */
 .contact-form {
    padding-top: 20px;
}

.contact-form .form-group {
   margin: 15px 5px;
   padding-top: 30px; 
   text-align: left;
   font-family: 'Libre Baskerville', serif;
   }

.contact-form .form-control {
   border: 0;
   border-radius: 0;
   outline: 0;
   border-bottom: 2px solid #E2E2E2;
   padding-right: 150px;
   width: 100%;
}

.form-group button {
   margin-top: 7px; 
   padding: 15px;
   width: 100%; 
   background: #E2E2E2;
   border: none;
   font-family: "Karla", sans-serif;
   font-size: 13px; 
   text-transform: uppercase; 
}

.contact-form label {
   display: none; 
}

.form-section input {
    font-family: "Karla", sans-serif; 
 }

input:focus
{
   border-bottom: solid 4px #E2E2E2 !important;
}

/* address */
.address-section {
    display: flex;
    flex-direction: column;  
}

.address {
   font-size: 15px; 
   padding-top: 20px; 
}

#rounded-circle-office {
    position: absolute;
    bottom: -35px; 
    left: -25px;
    z-index: -1;
}

/* social media */
.social-media {
   background: url("../images/footer.jpg");
   position: relative; 
   background-position: bottom center;
   background-size: cover; 
   margin-top: 40px; 
}

.sm-img {
   width: 100%; 
   height: 70%; 
   position: absolute;
   bottom: -10px;
}

.sm-icon {
   width: 35px; 
}

.sm-link {
   margin: 0 20px;
}

.social-media-icons {
   position: relative; 
   display: flex;
   justify-content: center; 
   margin: 50px auto;
   list-style-type: none;
   padding-inline-start: 0px; 
   width: 100%;
}


/* COPYRIGHTS */
.copyrights p {
   font-size: 10px; 
   color: #FFFFFF;
   opacity: 0.9; 
   font-family: "Karla", sans-serif;
   position: absolute;
   bottom: 0px;
   left: 10px; 
   
}

.copyrights {
   position: relative; 
}

/* MEDIA QUERIES */
@media only screen and (max-width: 991px) {
    #photos {
        margin: 0; 
    }
    
    #team {
        margin: 0;
    }

    .logo-img  {
        width: 100px;
    }

    .header-text h1 {
        font-size: 1.9rem; 
        letter-spacing: 0; 
    }

    .workspace {
        opacity: .3;
    }

    .address-section {
        flex-direction: row;
    }

    .address p {
        text-align: center; 
    }
}

@media only screen and (max-width: 767px) {
    .header-text h1 {
        font-size: 1.5rem; 
        letter-spacing: 0; 
    }

    .header-text .square { 
        height: 1.1rem; 
    }
    
    .workspace {
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: 20px 0;
        padding: 0 20px;
        opacity: 1;
    }

    .about {
        background-size: 170%;
        background-position-x: center;
    }

    .office img {
        margin: 0 auto;
        width: 100%; 
    }
}

@media only screen and (max-width: 479px) {
    .header-text h1 {
        font-size: 1.4rem; 
        letter-spacing: 0; 
    }
    .header-text .square { 
        font-size: 1rem; 
    }
    .address-section {
        flex-direction: column; 
    }
}
